In [ ]:
import pymongoarrow
import pandas as pd

In [ ]:
from pymongo import MongoClient
MONGO_CONN_STRING = "mongodb://localhost:27017/"
client = MongoClient(MONGO_CONN_STRING)

In [ ]:

# pymongoarrow.monkey module provided an interface to patch pymongo, in place, and add pymongoarrow's functionality directly to collection instance. 

from pymongoarrow.monkey import patch_all
patch_all()

# Let's use the pymongoarrow's find_pandas_all() function to read MongoDB query result sets into 
collection = client.get_database("NSE_TOTAL_MARKET").get_collection("testLiveFeed")
df = collection.find_pandas_all({})

In [ ]:
df.head(5)

In [ ]:
df.sort_values(by=[ 'Timestamp'], inplace=True)

In [ ]:
df.head(5)

In [ ]:
df[df['symbol']=='BSE'].head(5)

In [ ]:
import pandas as pd
assetValues = pd.DataFrame(columns=['symbol', 'start','end'])

In [ ]:
assetValues
assetValues = assetValues.concat()
assetValues

In [ ]:

# dff = pd.DataFrame(data=d)

In [20]:
dff

  symbol  start  end
0     aa      3  100

In [ ]:

dff

  symbol start    end
0     aa     3    100
1   [aa]   [3]  [100]
2   [aa]   [3]  [100]
3   [aa]   [3]  [100]
4     aa     3    100
5     aa     3    100
6     aa     3    100

In [18]:
df

  symbol start  end
0    NaN   NaN  NaN

In [ ]:


import pandas as pd
import requests
import numpy as np
from lightweight_charts import Chart
import time
import asyncio
import nest_asyncio
nest_asyncio.apply()

In [ ]:




from pymongo import MongoClient
MONGO_CONN_STRING = "mongodb://localhost:27017/"
client = MongoClient(MONGO_CONN_STRING)



# pymongoarrow.monkey module provided an interface to patch pymongo, in place, and add pymongoarrow's functionality directly to collection instance. 

from pymongoarrow.monkey import patch_all
patch_all()

# Let's use the pymongoarrow's find_pandas_all() function to read MongoDB query result sets into 
collection = client.get_database("NSE_DATA").get_collection("BSE-EQ")
df = collection.find_pandas_all({})

df.sort_values(by=[ 'Timestamp'], inplace=True)

#df[df['symbol']=='BSE'].head(5)   

df.head(5)

In [ ]:
# api_key = 'YOUR API KEY'
# hist_json = requests.get(f'https://financialmodelingprep.com/api/v3/historical-price-full/AAPL?apikey={api_key}').json()

# hist_df = pd.DataFrame(hist_json['historical']).drop('label', axis = 1)
# hist_df = hist_df.iloc[::-1].reset_index().drop(['index','adjClose'], axis = 1)
# hist_df.date = pd.to_datetime(hist_df.date)
# hist_df = hist_df.iloc[:,:6].iloc[-365:]
# hist_df.columns = ['time', 'open', 'high', 'low', 'close', 'volume']

# hist_df.tail()

In [ ]:
new_df = df[['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume']].copy()
new_df.columns = ['time', 'open', 'high', 'low', 'close', 'volume']
new_df.head()

In [ ]:
new_df['time'] = pd.to_datetime(new_df['time'])

In [ ]:


# chart = Chart()
# chart.set(new_df)
# chart.show(block = False)
# Jupyter
from lightweight_charts import JupyterChart
from lightweight_charts import JupyterChart

chart = JupyterChart(inner_width=0.5, inner_height=0.5)
chart2 = chart.create_subchart(position='right', width=0.5, height=0.5)
chart3 = chart.create_subchart(position='left', width=0.5, height=0.5)
chart4 = chart.create_subchart(position='right', width=0.5, height=0.5)
chart5 = chart.create_subchart(position='right', width=0.5, height=0.5)
chart6 = chart.create_subchart(position='left', width=0.5, height=0.5)
chart7 = chart.create_subchart(position='right', width=0.5, height=0.5)

chart.watermark('1')
chart2.watermark('2')
chart3.watermark('3')
chart4.watermark('4')
chart5.watermark('2')
chart6.watermark('3')
chart7.watermark('4')

df =new_df.copy()
chart.set(df)
chart2.set(df)
chart3.set(df)
chart4.set(df)
chart5.set(df)
chart6.set(df)
chart7.set(df)

chart.load()

In [ ]:
import pandas as pd
from lightweight_charts import Chart

from lightweight_charts import JupyterChart

#chart = JupyterChart(inner_width=0.5, inner_height=0.5)

# ascii symbols
FULLSCREEN = '■'
CLOSE = '×'


def on_max(target_chart):
    button = target_chart.topbar['max']
    if button.value == CLOSE:
        [c.resize(0.5, 0.5) for c in charts]
        button.set(FULLSCREEN)
    else:
        for chart in charts:
            width, height = (1, 1) if chart == target_chart else (0, 0)
            chart.resize(width, height)
        button.set(CLOSE)


if __name__ == '__main__':
    main_chart = JupyterChart(inner_width=0.5, inner_height=0.5)
    charts = [
        main_chart,
        main_chart.create_subchart(position='top', width=0.5, height=0.5),
        main_chart.create_subchart(position='left', width=0.5, height=0.5),
        main_chart.create_subchart(position='right', width=0.5, height=0.5),
    ]

    for i, c in enumerate(charts):
        chart_number = str(i+1)
        c.watermark(chart_number)
        c.topbar.textbox('number', chart_number)
        c.topbar.button('max', FULLSCREEN, False, align='right', func=on_max)
        c.set(df)

    charts[0].load()
    # charts[0].show(block=False)

In [ ]:
# Jupyter
from lightweight_charts import JupyterChart
from lightweight_charts import JupyterChart

chart = JupyterChart()
# ... set data to the chart

chart.set(new_df)
chart.load()